@import "tailwindcss";

@theme {
  --font-display: var(--font-display);
  --font-body: var(--font-body);

  --color-background: #0a0a0a;
  --color-surface: #171717;
  --color-border: #262626;

  --color-foreground: #ffffff;
  --color-muted: #a3a3a3;

  --color-primary: #7275fc;
  --color-primary-foreground: #ffffff;

  --color-accent: #3b82f6;

  --radius-lg: 1rem;
  --radius-full: 9999px;
}

@layer base {
  body {
    @apply bg-[#17171d] text-foreground font-body antialiased;
  }
}
